# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual env
.env
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Test / cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Data / output
data/
outputs/
configs/*.local.yaml*
*.csv
*.parquet
*.db
*.sqlite
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
